form#sampleRateForm
   select#samplingRateSelection.span8
   //-   option(value="0.01") 0.01 Hz
   //-   option(value="0.1") 0.1 Hz
   //-   option(value="1.0") 1.0 Hz
   //-   option(value="10.0") 10.0 Hz
   //-   option(value="100.0") 100.0 Hz
//- button.btn(onclick="updateSampleRate(event)") Update