div.row-fluid
   div.span12
      table.table.table-striped.table-condensed
         tr
            td 
              a.tt.muted(href="#",rel="tooltip",data-title="The average time it takes data to get to the browser.") Data Latency
            td.latency
         tr
            td 
              a.tt.muted(href="#",rel="tooltip",data-title="The time spent on the wire between you and our server.") Transmission Latency
            td.latencyOnWire