!!! 5
html(lang="en")
   head
      title= appTitle
      link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
      link(rel="stylesheet", href="slickgrid/slick.grid.css")
      link(rel="stylesheet", href="slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css")
      link(rel="stylesheet", href="css/scope.css")
      script(src='http://code.jquery.com/jquery-latest.js')
      script(src='bootstrap/js/bootstrap.min.js')
      script(src='js/sockjs-0.3.min.js')
      script(src='js/BlobBuilder.min.js')
      script(src='js/FileSaver.min.js')
      script(src='js/underscore.js')
      script(src='js/backbone.js')
      script(src="slickgrid/lib/jquery.event.drag-2.0.min.js")
      script(src="slickgrid/slick.core.js")
      script(src="slickgrid/slick.grid.js")
   body
     div(id="wrap")
      div(class="container-fluid")
         div(class="page-header")
            div(class="row-fluid")
              div(class="span4")
                h1= appTitle
              div(class="span4 offset4")     
                h5(class="pull-right") A HTML Demo for real time data logging.
         #chartArea.row-fluid
            div#inputOptions.span2
               div.accordion-group
                  div.accordion-heading
                     a.accordion-toggle(data-toggle="collapse",data-parent="#inputOptions",href="#inputOpts") Device Input
                  div#inputOpts.accordion-body
                     div.row-fluid
                        div.span12
                          form.form.span12
                             label.checkbox.span12 Analog Input- A1 
                               input#i1(type="checkbox")
                             label.checkbox.span12 Analog Input- A2
                               input#i2(type="checkbox")
                             label.checkbox.span12 Analog Input- A3
                               input#i3(type="checkbox")
                             label.checkbox.span12 Analog Input- A4
                               input#i4(type="checkbox")
                             label.checkbox.span12 Digital Input- D1
                               input#i5(type="checkbox")
                             label.checkbox.span12 Digital Input- D2
                               input#i6(type="checkbox")

            div.span8
               canvas(id="plot", style="height: 400px;")
            div#config.accordion.span2
               div.accordion-group
                  div.accordion-heading
                     a.accordion-toggle(data-toggle="collapse",data-parent="#config",href="#netStats") Network Stats
                  div#netStats.accordion-body
                     include includes/networkStats
                  div.accordion-heading
                     a.accordion-toggle(data-toggle="collapse",data-parent="#config",href="#deviceConfig") Sample Rate
                  div#deviceConfig.accordion-body.collapse 
                     include includes/deviceConfig
         div(class="row-fluid")
            div(class="span2 offset2")
               div(class="btn-group pull-left",data-toggle="buttons-radio")
                  button(class="btn start", type="button",onclick="startGraph(event)") 
                     i(class="icon-play")
                  button(class="btn stop", type="button", onclick="stopGraph(event)")
                     i(class="icon-stop")
            div(class="span2 offset4")
               button(class="btn btn-danger record pull-right",data-toggle="button", type="button",onclick="record(event)") Record

           //- Some day we might have decent smoothing function but using smoothies
           //- built in one is no good :(
           //- div(class="span4")
           //_    button(type="button",class="btn btn-inverse bezierToggleButton pull-right",onclick="setBezier(event)", data-toggle="button") Line Smoothing
         include includes/dataLogger

      div(id="push")
     script(src='/smoothie.js')
     script(src='/serverConnection.js')   
         
     include includes/footer
