!!! 5
html(lang="en")
   head
      title= appTitle
      link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
      link(rel="stylesheet", href="slickgrid/slick.grid.css")
      link(rel="stylesheet", href="slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css")
      script(src='http://code.jquery.com/jquery-latest.js')
      script(src='bootstrap/js/bootstrap.min.js')
      script(src='js/sockjs-0.3.min.js')
      script(src='js/BlobBuilder.min.js')
      script(src='js/FileSaver.min.js')
      script(src="slickgrid/lib/jquery.event.drag-2.0.min.js")
      script(src="slickgrid/slick.core.js")
      script(src="slickgrid/slick.grid.js")
   body
      div(class="container-fluid")
         div(class="row-fluid")
            div(class="span4")
               h1= appTitle
            div(class="span4 offset4")     
               h5 A HTML Demo for real time data logging.
         div(class="row-fluid")
            div(class="span8 offset2")
               canvas(id="plot", style="height: 400px;")

         div(class="row-fluid")
            div(class="span4 offset2")
               div(class="btn-group pull-left",data-toggle="buttons-radio")
                  button(class="btn start", type="button",onclick="startGraph(event)") 
                     i(class="icon-play")
                  button(class="btn stop", type="button", onclick="stopGraph(event)")
                     i(class="icon-stop")
               button(class="btn btn-danger record",data-toggle="button", type="button",onclick="record(event)") Record

            div(class="span4")
               div(class="btn-group pull-right",data-toggle="buttons-radio")
                  button(type="button",class="btn btn-inverse bezierToggleButton",onclick="setBezier(event)") Bezier
                  button(type="button",class="btn btn-inverse lineToggleButton",onclick="setLine(event)") Line
            div(class="span2")
               p(class="latency")
         
         div(class="row-fluid")
            div(class="span8")
               div(class="row-fluid")
                  div(class="span2")
                     img(src="images/140px-Voltmeter_hg.jpg",class="img-polaroid")
                  div(class="span2")
                     form
                        fieldset
                           legend &nbsp;T1000 Voltometer
                           label(class="control-label", for="deviceDescrptionTxt") Description
                           textarea(id="deviceDescrptionTxt",rows="3",placeholder="Device description.")
                           label(class="control-label",for="sampleRate") Sample Frequency
                           select(id="sampleRate")
                              option 0.01 Hz
                              option 0.1  Hz
                              option 1 Hz
                              option 10 Hz
                              option 100 Hz
         
         div(class="row-fluid")
            div(class="span2 offset8")
               button(type="button", class="btn", onclick="saveToFile(event)")
                  i(class="icon-file")
         div(class="row-fluid")
            div(class="span8 offset2")
               div(id="dataGrid",style="width:100%;height:500px;")
      script(src='/smoothie.js')
      script(src='/serverConnection.js')   
         
      include includes/footer
